
<%- include('header'); -%>

    <!-- <img class="mb-4" src="https://visualpharm.com/assets/922/Todo%20List-595b40b65ba036ed117d45fe.svg" alt="" width="72" height="72"> -->
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
      </div>

    <div class="box">

        <!-- FOR LOOP TO ADD ITEMS INTO OUR TO DO LIST -->
        <%  for (var i = 0; i < newListItems.length; i++){%>
        <div class="item">
          <input type="checkbox">
          <p><%= newListItems[i] %></p>
        </div>
        <%  };%>
        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="Add Item" autocomplete="off" autofocus>
          <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>

<%- include('footer'); -%>
