<%- include('partials/header'); -%>

<h1>Home</h1>
<p> <%= StartingContent %> </p>

<!-- < % console.log(PostsContent); % > -->

<!-- for (var i=0, i<upperBound; i++) {
array[i]
} -->

<!-- < % for (var i=0; i<PostsContent.length; i++) {console.log(PostsContent[i].title)} % > -->

<% PostsContent.forEach(function(post){ %>
<h1><%= post.title%></h1>
<p><%= post.content.substring(0,100) + "... "%>
<a href="/posts/<%=post.title%>">Read More</a>
</p>
<% }); %>

<%- include('partials/footer'); -%>
